.centered {
  text-align: center;
}

#body {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#pic {
  /* text-align: center; */
  width: 200px;
  height: 200px;
}

.comptia {
  width: 30%;
  height: 30%;
  margin: 5px;
}

#stacked {
  text-align: center;
}
#badges {
  text-align: center;
}
#lastbadge {
  width: 30%;
  height: 30%;
}

#footer {
  margin: 50px;
  text-align: center;
}

.other {
  text-align: left;
  margin: auto;
  width: 50%;
  padding: auto;
}

.topother {
  text-align: left;
  margin: auto;
  width: 85%;
  padding: auto;
}